CPANEL_URL=https://tu-servidor.lucus.es:2083
CPANEL_USER=usuario_cpanel
CPANEL_TOKEN=TOKEN_GENERADO_EN_CPANEL
LANDING_DIR=/public_html
LANDING_FILE=index.html
SITE_URL=https://www.sitiocliente.com
PORT=3000
